<div class="content-wrapper">
  <h3 class="mb-4">Employee Registration</h3>

  <form (ngSubmit)="register()" #registrationForm="ngForm">
    <div class="form-group mb-3">
    <label>Employee ID</label>
    <input type="number" class="form-control" [(ngModel)]="employee.employeeId" name="employeeId" required/>
  </div>
    <div class="form-group mb-3">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="employee.name" name="name" required />
    </div>

    <div class="form-group mb-3">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="employee.email" name="email" required />
    </div>

    <div class="form-group mb-3">
      <label>Contact Number</label>
      <input type="text" class="form-control" [(ngModel)]="employee.contactNumber" name="contactNumber" required />
    </div>

      <!-- Gender -->
  <div class="form-group mb-3">
    <label>Gender</label>
    <select class="form-control" [(ngModel)]="employee.gender" name="gender" required>
      <option value="">-- Select Gender --</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

    <div class="form-group mb-3">
    <label>Address</label>
    <textarea class="form-control" [(ngModel)]="employee.address" name="address" required></textarea>
  </div>

    <div class="form-group mb-3">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="employee.password" name="password" required />
    </div>

    <!-- Confirm Password -->
<div class="form-group mb-3">
  <label>Confirm Password</label>
  <input
    type="password"
    class="form-control"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    required
  />
</div>

<!-- Password Mismatch Error -->
<div *ngIf="passwordMismatch" class="alert alert-danger">
  Passwords do not match!
</div>

    <button class="btn btn-success" type="submit" [disabled]="!registrationForm.form.valid">
      Register
    </button>
     <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>

    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </form>
</div>

